@model Inmobiliaria_.Net_Core.Models.Propietario

@{
    ViewData["Title"] = "Búsqueda de Propietarios";
}

<h1>Búsqueda de Propietarios</h1>

<div class="row">
    <div class="col-md-4">
        <form id="form_buscar">
            <div class="form-group">
                <label for="q" class="control-label">Nombre</label>
                <input name="q" class="form-control" placeholder="Ingrese el nombre a buscar" id="q" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="resultado">
        </tbody>
    </table>
</div>

<a class="btn btn-secondary" asp-action="Index">Volver a la Lista</a>

<script id="t_tabla" type="x-tmpl-mustache">
    {{#datos}}
    <tr>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>
            <a class="btn btn-info" href="/Propietarios/Details/{{idPropietario}}">Detalles</a>
        </td>
    </tr>
    {{/datos}}
</script>

@section Scripts {
<script>
    document.querySelector("#form_buscar").addEventListener("submit", (e) => {
        e.preventDefault();
        var q = $("#q").val();
        $.get(`@Url.Action("Buscar", "Propietarios")?q=${q}`).done((res) => {
            var template = document.getElementById('t_tabla').innerHTML;
            var rendered = Mustache.render(template, { datos: res });
            document.getElementById('resultado').innerHTML = rendered;
        });
        return false;
    });
</script>
}